.productos-container{
    display: flex;
    flex-direction: row;
    gap: 10%;   
}
.productos-content{
    display: flex;
    justify-content: center;

}
.productos-content-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}