.form-group-producto{
    display: flex;
    flex-direction: row;
    gap: 3rem ;
}
input[type="file"] {
    display: none;
  }

  .boton-subir {
    display: inline-block;
    background-color: var(--background);
    color: var(--darkPink);
    border-radius: 15px;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 1rem;
    font-family: 'AmiriQuran','Times New Roman', Times, serif;
    height: 1.5em;
    width: 100%;
    color: black;
  }
  
.form-input-text{
    height: 1.5em;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}