@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.inicio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    position: relative;

}



.mensaje {
    text-align: center;
    z-index: 4;
    position: relative;
    transform: translateX(-20%);
}

.mensaje h1 {
    font-family: 'Chewy', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 6em;
    font-weight: bold;
    margin: 5px 0;
    -webkit-text-stroke: 0.5px var(--background);



}

.un-mundo {
    background-image: linear-gradient(to bottom, #F11C4C 0%, #FF9D4D 65%, #FEB234 95%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.de-sabor {
    background-image: linear-gradient(to bottom, #FF9D4D 0%, #FEB234 65%, #FDD40D);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.circulo-imagen {
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translateY(-50%);
    background-color: #f9bbbb;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    z-index: 2;
}

.imagen-helado {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(50%, -50%);
    width: auto;
    height: auto;
    max-width: 25rem;
    max-height: auto;
    z-index: 3;
}