.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.nav-buttons{
    display: inline-flex;
    flex-direction: column;
    font-size: larger;
    gap: 0.6em;
}
.nav-button{
    background-color: var(--buttonYellow);
    font-family: 'Champie';
    padding: 0.5em  1em;
    color: var(--lightYellow);
    border-radius: 50px;
}

.nav-instruction p{
    color: var(--darkPink);
    font-family: 'AmiriQuran';
    font-size: 1.5em;
    width: 10em;
}


@media screen and (max-width: 1024px) and (max-height: 768px) {
    .nav-instruction p {
      font-size: 1.3em;
      width: 12em;
    }
    .nav-buttons {
      font-size: 1.2em;

  }
}
