.inventario-container {
    display: flex;
    gap: 1em;

  }
  
.inventario-content {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
  


.nav-left{
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;

}
