.inventario-container {
    display: flex;
    gap: 5em;
    display: flex;
    justify-content: space-between;

  }
  
.inventario-content {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
  
.fit-parent {
  width: 100em;
  display: flex;

}

.nav-left{
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;

}