input{
    background-color: var(--background);
    border-style: none;
    border-radius: 15px;
    height: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}
input:focus {
    outline: none;
  }
.registrar-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    justify-content: center;
    width: fit-content;

    
}
.form-group{
    display: flex;
    flex-direction: column;
}

.consumible-form{
    display: flex;
    flex-direction: row;
    gap: 4em;
    width: 100%;
}